.tomato {
  background-color: tomato;
}

.purple {
  background-color: purple;
}

.grey {
  background-color: grey;
}

div {
  width: 200px;
  background-image: url(the-duck.png);
  background-repeat: no-repeat;
}

.small-box {
  height: 100px;
  background-size: 30px;
  background-position-y: center;
}

.medium-box {
  height: 150px;
}

.large-box {
  height: 200px;
}